{% extends 'base.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block body %}

<section class="container my-3 position-relative">
    <div class="row justify-content-center position-relative">
        <div class="col-md-8">

            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté(e) comme {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Me déconnecter</a>
                    </div>
                {% endif %}

                <h2 class="mt-4 mb-5 text-center">ME CONNECTER</h2>
                <label for="inputEmail">E-mail</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <label for="inputPassword" class="mt-4">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="d-flex justify-content-between align-items-center mt-5">
                    <button class="btn btn-primary btn-connexion" type="submit">Me connecter</button>
                    <a href="#" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover login-link">M'inscrire</a>
                </div>
                <div class="text-end mb-4">
                    <a href="#" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover login-link">Mot de passe oublié?</a>
                </div>
            </form>

        </div>
    </div>
</section>
{% endblock %}

