{% extends 'base.html.twig' %}

{% block title %}Enchantements Lunaires{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="text-center my-4">
            Bienvenue dans le Monde Enchanté d'Enchantements Lunaires
        </h1>

        <p class="fade-in">
            Vous êtes arrivé(e) dans un endroit où les mystères prennent forme et où chaque objet a une histoire magique à raconter. 
            Enchantements Lunaires est votre portail vers un univers d'objets mystiques, 
            soigneusement créés et sélectionnés pour illuminer votre quotidien de magie et d'enchantement.
        </p>

        <h2 class="text-center my-4 fade-in" style="animation-delay: 0.5s;">
            Que découvrirez-vous ici?
        </h2>

        <p class="fade-in" style="animation-delay: 0.7s;">
            {{ ux_icon('fire') }} <strong class="ms-3">Des trésors magiques uniques:</strong> 
            Chaque article proposé est authentique, inspiré par les traditions ancestrales et les pratiques mystiques de chaque créateur. 
            Chez nous, chaque produit a une âme.
        </p>

        <p class="fade-in mt-4" style="animation-delay: 0.9s;">
            {{ ux_icon('globe') }} <strong class="ms-3">Un réseau d'artisans mondiaux:</strong> 
            Des alchimistes aux enchanteurs, des artisans aux visionnaires, 
            Enchantements Lunaires réunit des créateurs de tous horizons pour partager avec vous leurs savoirs et leurs créations uniques.
        </p>

        <p class="fade-in mt-4" style="animation-delay: 1.1s;">
            {{ ux_icon('balloon-heart') }} <strong class="ms-3">Une expérience qui transcende le réel:</strong> 
            Notre objectif est d'apporter de la magie dans votre vie quotidienne. 
            Que vous cherchiez protection, amour, chance ou simplement un peu de mystère, nos articles vous guideront dans ce voyage.
        </p>

        <p class="fade-in mt-4" style="animation-delay: 1.5s;">
            Enchantements Lunaires a pour mission de rassembler les passionnés de magie 
            et les créateurs d'objets mystiques en un lieu sûr et respectueux, où la diversité 
            et l'authenticité sont au cœur de chaque échange. 
        </p>

        <p class="fade-in mt-4" style="animation-delay: 1.7s;">
            Que la magie vous accompagne et que chaque visite sur Enchantements Lunaires soit une source d'inspiration et de découverte. 
            Bienvenue dans notre monde!
        </p>

        <p class="text-center fade-in mt-5 mb-3" style="animation-delay: 1.9s;">
            {{ ux_icon('moon') }} <em class="mx-3">Que la magie soit toujours avec vous!</em> {{ ux_icon('moon') }}
        </p>

    </div>
{% endblock %}
