{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div>
    
    <section class="w-100 h-60 mt-1 position-relative">
        <img src="{{ asset('/images/candle1.jpg') }}" alt="candle image" class="w-100">
        <div class="overlay position-absolute top-0 start-0 w-100 h-100 d-flex flex-column 
            justify-content-center align-items-center">
            <h1 class="text-center mt-4 text-white fw-bold home-title">ENCHANTEMENTS LUNAIRES</h1>
            <h3 class="text-center mb-4 text-white home-h3">Votre portail vers l'univers magique</h3>
        </div>
    </section>

    {# <section id="calendrier-lunaire">
        <h2>Calendrier lunaire Mystique</h2>
        <p>Phase actuelle de la lune: </p>
    </section> #}

    {# cards offres du moment #}
    <div class="container container-homepage my-4">
        <h2 class="text-center text-uppercase mb-3">Offres du moment</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
            {% for produit in produits %}
                <div class="col"> 
                    <div class="card card-homepage">
                        <a href="{{ path('app_produit_details', { 'slug': produit.slug }) }}">
                            <div class="div-img-home">
                                <img src="{{ asset('images/' ~ produit.getImageChemin()) }}" class="card-img-top img-fluid" alt="{{ produit.nom }}">
                            </div>
                        </a>
                        <div class="card-title text-center">
                            <a href="{{ path('app_produit_details', { 'slug': produit.slug }) }}" class="btn btn-outline-secondary mt-3 btn-home">{{ produit.nom }}</a>
                        </div> 
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="text-end me-5 mt-4">
        <a href="{{ path('app_produit_index') }}" class="fs-4">Découvrez tous les produits →</a>
    </div>

    {# achat simple #}
    <div class="">
        <div class="container">
            <div class="row align-items-center">
            
                <div class="col-12 text-center mb-3 mt-5">
                    <h4 class="h4-home">Que la magie soit avec vous!</h4>
                </div>
                <br>
                <!-- screens larges and mediums -->
                <div class="col-lg-4 col-md-6 mb-3">
                    <!-- font awesome icon-->
                    <div class="text-center mt-2">
                        {{ ux_icon('airplane') }}
                    </div>
                    <!-- text -->
                    <div class="text-center mt-2">
                        <h3>Livraison en 24h</h3>
                        <p class="home-p">le lendemain avant 15h</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-3 ">
                    <!-- font awesome icon-->
                    <div class="text-center mt-2">
                        {{ ux_icon('box-seam') }}
                    </div>
                    <!-- text -->
                    <div class="text-center mt-2">
                        <h3>Emballages</h3>
                        <p class="home-p"> anti-casse</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-3">
                    <!-- font awesome icon-->
                    <div class="text-center mt-2">
                        {{ ux_icon('credit-card-2-front') }}
                    </div>
                    <!-- text -->
                    <div class="text-center mt-2">
                        <h3>Paiement sécurisé</h3>
                        <p class="home-p">Visa, Mastercard</p>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center py-4 home-p">
            Nous sommes ouverts du lundi au samedi sur rendez-vous!
        </p>
    </div>
</div>
{% endblock %}
