{% extends 'base.html.twig' %}

{% block title %}Produits par catégorie {{ categorie }}{% endblock %}

{% block body %}
    <h2 class="text-center my-4 fw-bold">Produits dans la catégorie: {{ categorie }}</h2>

    <div class="text-start ms-5 my-4">
        <a href="{{ path('app_produit_index') }}" class="link-opacity-75-hover fw-bold fs-5 text-uppercase">← retour aux produits </a>
    </div>

    {# Filtre category #}
    <div class=" text-center">
        <div class="row justify-content-center">
            <div class="col-md-3 col-sm-6 mb-3">
                <a href="{{ path('app_produit_find_category', {'categorie': 'Potions'}) }}" class="btn btn-secondary">  
                    <span>Potions</span> 
                </a>
            </div>
            <div class="col-md-3 col-sm-6 mb-3">
                <a href="{{ path('app_produit_find_category', {'categorie': 'Objets magiques'}) }}" class="btn btn-secondary">
                    <span>Objects magiques</span> 
                </a>
            </div>
        </div>      
    </div>

    <div class="container my-3">
        <div class="row d-flex flex-wrap">
            {% for produit in produits %}
                <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex">
                    <div class="card w-100 d-flex flex-column">
                        <div class="div-img">
                            <img src="{{ asset('images/' ~ produit.getImageChemin()) }}" class="card-img-top" alt="{{ produit.nom }}">
                        </div>
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title text-center fw-bold fs-3 mb-3">{{produit.nom}}</h5>
                            <p class="card-text text-center fs-5 produit-description"> {{produit.description}}
                            </p>
                            {% set prixRemise = produit.prix %}
                            <div class="d-flex justify-content-center align-items-center mb-2">
                                {% if produit.remise %}
                                    {% set prixRemise = produit.prix - (produit.prix * (produit.remise / 100)) %}
                                        <p class="card-text text-center fw-bold text-danger text-decoration-line-through me-2 mt-2">{{ produit.prix }} €</p>
                                {% endif %}
                                <p class="card-text text-center fw-bold text-danger">{{ prixRemise|number_format(2, '.', ',') }} €</p>
                            </div>
                            <div class="mt-auto d-flex justify-content-between">
                                <a href="{{ path('app_produit_details', {'slug' : produit.slug})}}" class="btn btn-outline-secondary mt-4 mb-3" >Détails</a>
                                <a href="#" class="btn btn-outline-secondary mt-4 mb-3">Ajouter au panier</a> 
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}