{% extends 'base.html.twig' %}

{% block title %}Produits par catégorie {{ categorie }}{% endblock %}

{% block body %}
    <h2 class="text-center my-4 fw-bold">Produits dans la catégorie: {{ categorie }}</h2>

    <div class="text-start ms-5 my-4">
        <a href="{{ path('app_produit_index') }}" class="link-opacity-75-hover fw-bold fs-5 text-uppercase">← retour aux produits </a>
    </div>

    {# <section class="container my-3"> #}
        <!-- Filter product's category -->
        {# <div class=" text-center">
            <div class="row justify-content-center">
                <div class="col-md-3 col-sm-6 mb-3">
                    <a href="{{ path('app_produit_find_category', {'categorie': 'Blanc'}) }}" class="rounded d-block text-center p-2 div-a-cat">  
                        <img src="{{ asset('/images/blanc.png') }}" alt="aperitif" class="select-wines"> 
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 mb-3">
                    <a href="{{ path('app_wines_find_category', {'category': 'Rouge'}) }}" class="rounded d-block text-center p-2 div-a-cat">
                        <img src="{{ asset('/images/rouge.png') }}" alt="aperitif" class="select-wines">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 mb-3">
                    <a href="{{ path('app_wines_find_category', {'category': 'Rosé'}) }}" class="rounded d-block text-center p-2 div-a-cat"> 
                        <img src="{{ asset('/images/rose.png') }}" alt="aperitif" class="select-wines">  
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 mb-3">
                    <a href="{{ path('app_wines_find_category', {'category': 'Methode traditionnelle'}) }}" class="rounded d-block text-center p-2 div-a-cat"> 
                        <img src="{{ asset('/images/champagne.png') }}" alt="aperitif" class="select-wines"> 
                    </a>
                </div>
            </div>      
        </div> #}

        
    {# </section> #}

    <div class="container my-3">
        <div class="row">
            {% for produit in produits %}
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="card mt-2">
                        <div class="div-img">
                            <img src="{{ asset('images/' ~ produit.getImageChemin()) }}" class="card-img-top" alt="{{ produit.nom }}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center fw-bold fs-3 mb-3">{{produit.nom}}</h5>
                            <p class="card-text text-center fs-5 produit-description"> {{produit.description}}
                            </p>
                            <p class="card-text text-center fw-bold text-danger">{{produit.prix}} €</p>
                            <div class="d-flex justify-content-between">
                                <a href="#" class="btn btn-outline-secondary mt-4 mb-3" >Détails</a>
                                <a href="#" class="btn btn-outline-secondary mt-4 mb-3">Ajouter au panier</a>                          
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}