<footer class="bg-dark text-white py-4">

    <div class="container">
        <div class="row text-center text-md-start">
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h5>
                    <a href="{{ path('app_produit_index') }}" class="h5-footer text-white link-underline link-underline-opacity-0">NOS PRODUITS</a>
                </h5>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h5>
                    <a href="{{ path('app_entreprise_index') }}" class="h5-footer text-white link-underline link-underline-opacity-0">NOS ENTREPRISES</a>
                </h5>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h5>
                    <a href="#" class="h5-footer text-white link-underline link-underline-opacity-0">ASSISTANCE</a>
                </h5>   
            </div>
            
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5>
                    SUIVEZ-NOUS!
                </h5>
                <div class="d-flex justify-content-center justify-content-md-start social">
                    <a href="#" class="text-white mx-3 icon-footer">{{ ux_icon('facebook') }}</a>
                    <a href="#" class="text-white mx-3 icon-footer">{{ ux_icon('instagram') }}</a>
                    <a href="#" class="text-white mx-3 icon-footer">{{ ux_icon('envelope-at') }}</a>
                    
                </div>
            </div>
        </div>
        
        <div class="d-flex justify-content-center justify-content-md-around pt-3">
            <a href="#" class="text-white me-2 link-underline link-underline-opacity-0">Mentions légales</a>
            <a href="#" class="text-white link-underline link-underline-opacity-0">Conditions générales d'utilisation des services</a>
        </div>
    </div>
</footer>

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
{% endblock %}

    </body>
</html>