<body>
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<!-- Logo e link alla home -->
			<a class="navbar-brand d-flex align-items-center" href="{{ path('app_home') }}">
				{{ ux_icon('moon-stars-fill') }}
				<span class="ms-2">Enchanted Shop</span>
			</a>
			<!-- Toggler per piccoli schermi -->
        	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            	<span class="navbar-toggler-icon"></span>
        	</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mx-auto mb-2 mb-lg-0 d-flex justify-content-center w-100">
					<li class="nav-item">
						<a class="nav-link a-header fw-bold" href="{{ path('app_produit_index') }}">Nos Produits</a>
					</li>
					<li class="nav-item">
						<a class="nav-link a-header fw-bold" href="{{ path('app_entreprise_index') }}">Nos Entreprises</a>
					</li>
					<li class="nav-item">
						<a class="nav-link a-header fw-bold" href="{{ path('app_nous_index') }}">Qui sommes nous?</a>
					</li>
				</ul>

				<ul class="navbar-nav ms-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle a-header fw-bold d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							ESPACE PERSONNEL
						</a>
						<ul class="dropdown-menu dropdown-menu-end me-4">
							<li>
								<a class="dropdown-item a-header" href="#">Contactez-nous</a>
							</li>
							<li>
								<a class="dropdown-item a-header" href="#">Another action</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								{% if app.user %}
									{% if 'ROLE_ENTREPRISE' in app.user.roles %}
										<a href="#" class="dropdown-item a-header">ESPACE ENTREPRISE</a>
									{% else %}
										<a class="dropdown-item a-header" href="{{ path('app_user_profile_index') }}">ESPACE CLIENT</a>
									{% endif %}
									<a href="{{ path('app_logout') }}" class="dropdown-item a-header">ME DÉCONNECTER</a>
								{% else %}
									<a href="{{ path('app_login') }}" class="dropdown-item a-header">SE CONNECTER</a>
								{% endif %}
							</li>
						</ul>
					</li>
				</ul>
				
			</div>
		</div>
	</nav>
</body>
